<h1><%= @book.title %></h1>
<h2> by <%= @book.author %> </h2>
<h6>Genre: <%= @book.genre %></h6>

<p>Description     <%= @book.description %><p>


<h3>Reviews</h3>
<% @reviews.each do |review| %>
<%= review.body%>
<%= review.rating %>

<%end %>


<p>Books ISBN is: </p>
<p><%= @book.isbn %><p>
